

.body{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    font-family: 'Abel', sans-serif;
    line-height:normal;
    vertical-align:baseline;
    letter-spacing:normal;
    word-spacing:0px;
    font-weight: 400;
    
}
.body h3{
    color: #6b6b6b;
}
.body h3,p{
    padding: 25px;
    font-weight: 300;
    font-size: 20px;
    
}
.body div:first-child{
    width: 30%;
    padding-top: 100px;
    text-align: justify;
}
.body div:nth-child(2){
    width: 30%;
    text-align: justify;
    padding-top: 100px;
}
.body div:nth-child(3){
    width: 30%;
    text-align: justify;
    padding-top: 100px;
}

@media screen and (min-width:172px) and (max-width:900px) {
    
    .body{
        display: block;
        display: flex;
        flex-wrap: wrap;
    }
    .body div:first-child{
        width: 100%;

    }
    .body div:nth-child(2){
        width: 100%;
    }
    .body div:nth-child(3){
        width: 100%;
    }
    
}