.main{
    width: 100%;
    background-color: rgb(40,44,52);
    height: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main p:first-child{
    color: RGB(97 218 215);
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 30px;
}
.main p:nth-child(2){
    color:white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 30px;
}

.main button{
    border: none;
    font-size: 18px;
    background-color: RGB(97 218 215);
    font-weight: lighter;
    width: 150px;
    height: 45px;
    cursor: pointer;
}
.main button:hover{
    background-color: white;
}
.main span a:hover{
    color: white;
}
.main span a{
    text-decoration: none;
    color: RGB(97 218 215);
    padding-left: 20px;
    font-size: 18px;
}