*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.headerOne{
    background-color: RGB(22 24 29);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerOne span:nth-child(2){
    color: RGB(97 218 215);
}