*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 70px;
    background-color: rgb(32,35,42);
    
}
/*-------------- GRANDE DIV -----------*/
.container:first-child{
    width: 100%;
    height: 100%;
}

/*-------------- PREMIERE DIV -----------*/
.container div:first-child{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* background-color: yellow; */
}
.container span:first-child{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 50%;
    
}
.container span:last-child{
    color: RGB(97 218 215);
}
.container span:last-child{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 50%;
}
.container span img{
    width: 50%;
}

/*-------------- DEUXIEME DIV -----------*/

.container div:nth-child(2){
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
/*-------------- TROISIEME DIV -----------*/

.container div:nth-child(3){
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

}

/*-------------- LI,A -----------*/

.container ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container li a{
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 172px) and (max-width: 900px) {
    #third, #second{
        display: none;
    }
    .container{
        min-width: 100%;
        width: 100%;
        display: flex;
        justify-content: none;
    }
}
/*-------------- ul -----------*/

